body {
    background-color: #a4bcd4;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.analyse_data {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
h1 {
    font-size: 2.5rem;
    text-align: center;
}
h2 {
    font-size: 2rem;
    text-align: center;
}

.app-name {
    color: #f8293a;
}

.news-source {
    color: #007bff;
}
.form-card{
    background-color: cadetblue;
}

.alert-danger {
    margin-top: 20px;
}
.h{
    background-color: rgb(224, 205, 26);
}

.col-md-6 {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.col-md-6 {
    
    flex: 0 0 50%;
    max-width: 100%;
}

.form-card h2 {
    color: #28a745;
}

.form-card form {
    margin-top: 20px;
    
}

#url-input {
    width: 100%;
}

.btn-logout {
    margin-top: 20px;
}

.table-bordered {
    border: 2px solid #007bff;
    margin-top: 20px;
    background-color: #ffffff;
}

.table-bordered td {
    border: 2px solid #007bff;
}

.btn-success,
.btn-primary,
.btn-danger {
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

.btn-success {
    background-color: #28a745;
}

.btn-primary {
    background-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-success:hover,
.btn-primary:hover,
.btn-danger:hover {
    filter: brightness(90%);
}
