body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
}

h1, h2 {
    color: #333;
}
.main{
    border: 5px solid #b941c4; /* Add a 5px solid border around the body */
    padding: 10px; 
    font-size: 18px;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 2px solid #333;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    th {
        display: none;
    }

    td {
        margin: 10px 0;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    td:before {
        content: attr(data-label);
        font-weight: bold;
    }
    

    tr:nth-child(even) {
        background-color: #ffffff;
    }
}
