<!DOCTYPE html>
<html>

<head>
    <title>Enter Password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pass.css') }}">
    
</head>

<body>
    <div class="head">
        <div class="password-container">
            <h2>Enter Admin Password to View Stored Data</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form method="POST" action="{{ url_for('stored_data') }}">
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="main">
            <div class="card">
                <a href="C:\Users\Admin\OneDrive\Documents\GitHub\Deploy_01\static\pk.jpg">
                    <img src="C:\Users\Admin\OneDrive\Documents\GitHub\Deploy_01\static\pk.jpg">
                </a>
            </div>
            <div class="card">
                <h3>ADMIN</h3>
                <p><b>Pradeep Kumar</b></p>
                <p><a href="pradeep080805@gmail.com">Email Id</a></p>
                <p><a href="https://www.instagram.com/say_it_p?igsh=MXZ0MGJjeTRjYjljMA==">instagram</a></p>
                <p><a href="https://www.linkedin.com/in/pradeep">linkedin</a></p>
            </div>
            
        </div>
    </div>
</body>

</html>
