<!DOCTYPE html>
<html>

<head>
    <title>Enter Password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pass.css') }}">
    
</head>

<body>
    <div class="password-container">
        <h2>Enter Admin Password to View Stored Data</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('stored_data') }}">
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>
