<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stored Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='store.css') }}">
</head>
<body>
    <h1>History Of News Articles Analyzed</h1>

    <!-- News Data Table -->
    <h2>News Data</h2>
    <div class="main">
        {% for row in news_data %}
            <b>Sr_no::{{ loop.index }}</b>
            <p><b>Date_time::</b>{{ row[1] }}</p>
            <p><b>Url_entered::</b>{{ row[2] }}</p>
            <p><b>Cleaned_text::</b>{{ row[9] }}</p>
            <p><b>Sentiment_of_news::</b>{{ row[3] }}</p>
            <p><b>Sent_count::</b>{{ row[4] }}</p>
            <p><b>Word_count::</b>{{ row[5] }}</p>
            <p><b>Stop_count::</b>{{ row[6] }}</p>
            <p><b>Ptag_dic::</b>{{ row[7] }}</p>
            <p><b>Need_to_know::</b>{{ row[8] }}</p>
            <hr>
            <hr>
        {% endfor %}
    </div>
   <!-- User Data Table -->
    <h2>User Data</h2>
    <table border="2">
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        {% for user in user_data %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{ url_for('portal') }}" class="button">Go back to Home</a>
</body>
</html>
